<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn"
      connectionString="DataSource = 80.78.240.16; InitialCatalog = Sandbox.Test; User Id = devEd; Password = qqq!11;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
