<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HRApplicationDB"
         connectionString="Server=(LocalDB)\MSSQLLocalDB; DataBase = NewEmployeesDB; Trusted_Connection = True; Integrated Security = True;"
      providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <connectionStrings>
    <add name="cn"
      connectionString="DataSource = (LocalDB)\MSSQLLocalDB; InitialCatalog = NewEmployeesDB; Integrated Security = True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
